.about {
    background: rgba(255, 255, 255, 0.671);
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2.0em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.0em;
    color: #272626;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .points {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .points li {
    font-size: 1.0em;
    color: #464545;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  a {
    color: #1dcc46;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #218838;
  }
  