/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e9ecef;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.navList, .authList {
    display: flex;
    list-style-type: none;
    padding: 0px 10px;
    margin: 0;
}

.navList {
    margin-right: auto;
}

.navItem {
    margin: 0 15px;
}

.navLink {
    color: #088853;
    text-decoration: none;
    font-weight: bold;
}

.navLink:hover {
    text-decoration: underline;
} */

.header {
    background-color: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    font-size: 2em;
    color: #333;
    margin: 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-right: 20px;
  }
  
  .navLink {
    font-size: 1em;
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #218838;
  }
  
  .authList {
    display: flex;
    align-items: center;
  }
  
  .separator {
    margin: 0 10px;
    color: #28a745;
    font-size: 1.2em;
  }
  