/* LandingPage.module.css */

.landingPage {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.header {
  text-align: center;
  margin-bottom: 50px;
  background-color: rgb(243, 255, 251);
  padding: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.829), rgba(255, 255, 255, 0.418)), url('https://cdn.pixabay.com/photo/2022/12/19/06/57/stethoscope-7664834_960_720.jpg');

}

.header h1 {
  font-size: 2rem;
  color: #333;
}

.header p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.ctaButton {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0056b3;
  color: #fff;
}

.features {
  margin-bottom: 40px;
  text-align: center;
}

.features h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.features ul {
  list-style-type: none;
  padding-left: 0;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.services {
  margin-bottom: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 30px 10px;
  border-radius: 5px;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-minimalist-gradient-medical-background-gradienth5ad-image_77129.jpg');
  background-position: center;
}

.services h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.serviceCard {
  background-color:#ffffffa8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.serviceCard h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.serviceCard p {
  font-size: 1rem;
  color: #666;
}

.testimonials {
  margin-bottom: 40px;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-minimalist-gradient-medical-background-gradienth5ad-image_77129.jpg');
  padding: 30px;
}

.testimonials h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.testimonial {
  background-color: rgba(24, 211, 180, 0.479);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.testimonial p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-size: 0.8rem;
  color: #333;
}

.callToAction {
  text-align: center;
  padding: 10px;
}

.callToAction h2 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}
