/* LandingPage.module.css */

.landingPage {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 40px;
  background-color: aquamarine;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.header h1 {
  font-size: 2rem;
  color: #333;
}

.header p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.ctaButton {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0056b3;
  color: #fff;
}

.features {
  margin-bottom: 40px;
  text-align: center;
}

.features h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.features ul {
  list-style-type: none;
  padding-left: 0;
  background-color: aquamarine;
  padding: 20px 20px;
  border-radius: 5px;
}

.features li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.services {
  margin-bottom: 40px;
  text-align: center;
  background-color: aquamarine;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.serviceCard {
  background-color:#f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.serviceCard h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.serviceCard p {
  font-size: 1rem;
  color: #666;
}

.testimonials {
  margin-bottom: 40px;
}

.testimonials h2 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.testimonial {
  background-color: aquamarine;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.testimonial p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-size: 0.8rem;
  color: #333;
}

.callToAction {
  text-align: center;
  padding: 10px;
}

.callToAction h2 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}
