.loginForm {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
  }
  
  .loginForm h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .formField {
    margin-bottom: 15px;
  }
  
  .formField label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    width: 300px;
  }
  
  .formField input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .formField input:focus {
    border-color: #007BFF;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  